@model GoalManagementLibrary.Models.CreateCategoryResult


@if (Model.Success)
{
    <h1>The Category created successfully</h1>
    @Html.ActionLink("Return to Categories", "Index", "Categories")
}
else
{
    <h1>The Category was not created.</h1>   
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li>@message</li>    
        }
    </ul>
    
    @Html.Partial("CreateCategory", Model.Request)
}