@model Models.IterationDetailInformationModel


<div class="row">
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                
                @Html.HiddenFor(m => m.GoalId)
                
                <h1>Iteration Details</h1>
                <hr />
                
                
                <div id="h-slider"></div>
                <p>lalla</p>
               
                <div id="amount"></div>

            </fieldset>
        </form>

    </div>
</div>

