<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployments" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <deployments>
    <Configs>


      <ConfigurationGroup name="remotetestSetup">
        <ValueItems>          
          <ValueItem key="DestinationComputerName" value="107.21.229.99:8172"/>
          <ValueItem key="DestinationContentPath" value="c:\websites-installer"/>
          <ValueItem key="DestinationUserName" value="administrator"/>
          <ValueItem key="DestinationPassword" value="A1Y3LMa50qw1cIH!"/>
          <ValueItem key="CleanUp" value="false"/>
        </ValueItems>
        <Collections>
                  
          <Collection name="PackageSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="CreatePackage"/>
              <ValueItem key="SourceContentPath" value="../web/web.csproj" /> 
              <ValueItem key="InternalPath" value="C:\temp\trackmyprogress" />
              <ValueItem key="ConfigurationType" value="Release" />
              <ValueItem key="OutputLocation" value="C:\temp\deploy\installer\testPackage.zip" />
              <ValueItem key="DestinationContentPath" value="c:\websites-installer" />
              <ValueItem key="ZipFileOnly" value="true" />
            </ValueItems>
          </Collection>

          <Collection name="DeployPackage">
            <ValueItems>
              <ValueItem key="ComponentType" value="DeployPackage"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deploy\installer\testPackage.zip" />
              <ValueItem key="DestinationContentPath" value="c:\websites\trackmyprogress"/>
              <ValueItem key="ForceInstall" value="true"/>
            </ValueItems>
          </Collection>
        </Collections>
      </ConfigurationGroup>
      
    </Configs>
  </deployments>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
