@{
    ViewBag.Title = "Goal Tracking";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<section>
    <img src="~/images/line_example1.jpg" class="pull-right" height="250px" />

    <p>Welcome to Goal Tracking.  The aim of this project is to track the progress and usage of different targets or achievements.</p>

    <p>The system allows a user to create categories and goals and track their progress.  Goal tracking happens over progressive durations.  So a goal will be split into N durations.
        A duration can be of various lengths, a day, week, month or a year.  There are a few different type of goal types:</p>

    <ul>
        <li>Simple track a value.</li>
        <li>Track a value and have it increment after each duration.</li>
        <li>Track a value and have it decrement after each duration.</li>
    </ul>
</section>

<div class="page-header">
    <h2>Creating Goals</h2>    
</div>

<section>
    <img src="~/images/createGoal.png" class="pull-right" />
    <p>The user can create Goals</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section>

<div class="page-header">
    <h2>Tracking Progress</h2>    
</div>

<section>
    <img src="~/images/line_example1.jpg" class="pull-right" height="250px" />
    <p>The user can add / update the information for their goals.</p>
       
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    
    <p>The user can view their progress in the charts and via graphs.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section>