@model GoalManagementLibrary.Models.CreateGoalResult


@if (Model.Success)
{
    <h1>The Goal was created successfully</h1>
    @Html.ActionLink("Return to Goals", "Index", "Goals")
}
else
{
    <h1>The Goal was not created.</h1>   
    <ul>
        @foreach (var message in Model.Messages)
        {
            <li>@message</li>    
        }
    </ul>
    
    @Html.Partial("CreateGoal", Model.Request)
}